<div class="card">
    <div class="text-center">
<ul class="list-group list-group-flush">
<li class="list-group-item list-group-item-action"><a routerLink="/viewMessageMotivator">Inbox
    <span *ngIf="message!=null" class="badge badge-pill badge-success">{{globals.messageCount}}</span>
</a>
</li>
<li class="list-group-item list-group-item-action"><a routerLink="/sendMessageMotivator">Message
</a>
</li>
<li class="list-group-item list-group-item-action"><a routerLink="/dailyLogs">Daily Logs
</a>
</li>
<li class="list-group-item list-group-item-action"><a routerLink="/monthlyCharts">Monthly Charts
</a>
</li>
<li class="list-group-item list-group-item-action"><a routerLink="/changePassword">Change Password
</a>
</li>
<li class="list-group-item list-group-item-action"><a routerLink="/logout">Logout
</a>
</li>
</ul>
</div>
</div>
