<nav class="navbar navbar-expand-sm bg-light sticky-top">
  <div class="navbar-brand">{{title}}</div>
</nav>
<div id="routers">
  <div class="sidebaroutlet"><router-outlet  name="sidebar"></router-outlet></div>
  <div class="outlet"><router-outlet></router-outlet></div>
</div>
<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">Developed By:
    <a href="https://www.linkedin.com/in/aayush-srivastava-37425431"> Aayush Kumar Srivastava</a>
  </div>
  </footer>